@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ExchangePlatform.ViewModels.EditOrderModel

<form method="post" action="/Home/CreateOrder">
    <div class="second">
        <p><b>New Order</b></p>
        <br>

        <p>Номер заказа: <input type="text" name="Target.DocNumber" value="@Model.Target.DocNumber"/></p>
        <p>Дата заказа: <input type="date" name="Target.DocDate" value="@Model.Target.DocDate" /></p>
        <br>
        <p>Отправитель: 
        <select name="Target.SenderId">
                @for (int i=0; i < Model.AllProviders.Count; i++)
                {
        <option name="AllProviders[@i].ProviderId" value="@Model.AllProviders[i].ProviderId">@Model.AllProviders[i].ProviderName</option>            
                }          
        </select>    
        </p>
        @for (int i = 0; i < Model.AllProviders.Count; i++)
        {
            <input type="hidden" name="AllProviders[@i].ProviderName" value="@Model.AllProviders[i].ProviderName" />
            <input type="hidden" name="AllProviders[@i].ProviderId" value="@Model.AllProviders[i].ProviderId" />
        }
        <p>Покупатель: <input type="text" name="Target.Buyer" value="@Model.Target.Buyer" /></p>
        <p>Грузополучатель: <input type="text" name="Target.Reciever" value="@Model.Target.Reciever" /></p>
        <p>Онование: <input type="text" name="Target.Reason" value="@Model.Target.Reason" /></p>
        <br>

    </div>
    <br><br>
    <button>Создать</button>
</form>
