@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ExchangePlatform.Models.Implemenation.OrderModel

<form method="post" action="/Home/CreateOrder">
    <div class="second">
        <p><b>New Order</b></p>
        <br>

        <p>Номер заказа: <input type="text" name="DocNumber" value="@Model.DocNumber"/></p>
        <p>Дата заказа: <input type="date" name="DocDate" value="@Model.DocDate" /></p>
        <br>
        <p>Отправитель: <input type="text" name="Sender" value="@Model.Sender" /></p>
        <p>Покупатель: <input type="text" name="Buyer" value="@Model.Buyer" /></p>
        <p>Грузополучатель: <input type="text" name="Reciever" value="@Model.Reciever" /></p>
        <p>Онование: <input type="text" name="Reason" value="@Model.Reason" /></p>
        <br>

    </div>
    <br><br>
    <button>Создать</button>
</form>
