@model ExchangePlatform.Models.Implemenation.OrderModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" action="/Home/EditOrder">
    <div class="second">
        <p><b>New Order</b></p>
        <br>
        <input type="hidden" name="DocId" value="@Model.DocId" />
        <p>Номер заказа: <input type="text" name="DocNumber" value="@Model.DocNumber" /></p>
        <p>Дата заказа: <input type="datetime" name="DocDate" value="@Model.DocDate" /></p>
        <br>
        <select name="Sender">
            <option value="Model.AllProviders[0].Name">provider1</option>
            <option value="Model.AllProviders[1].Name">provider2</option>
        </select>
        <p>Отправитель: <input type="text" name="Sender" value="@Model.Sender" /></p>
        <p>Покупатель: <input type="text" name="Buyer" value="@Model.Buyer" /></p>
        <p>Грузополучатель: <input type="text" name="Reciever" value="@Model.Reciever" /></p>
        <p>Онование: <input type="text" name="Reason" value="@Model.Reason" /></p>
        <br>

    </div>
    <br><br>
    <button>Сохранить</button>
</form>