@model ExchangePlatform.ViewModels.OrdersTableModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p><b>Orders List</b></p>
<br>
<br />
<form method="post">
    <p>
        Filter by Document Date:
        <input type="date" name="dateBegin" value="@ViewBag.DateBegin" />
        <input type="date" name="dateEnd" value="@ViewBag.DateEnd" />
    </p>
    <p>
        Filter by provider:
        <select name="provider" multiple size="1">
            @for (int i = 0; i < Model.Providers.Count; i++)
            {
                <option name="Providers[@i].ProviderId" value="@Model.Providers[i].ProviderId">@Model.Providers[i].ProviderName</option>
            }
        </select>
        @for (int i = 0; i < Model.Providers.Count; i++)
        {
            <input type="hidden" name="Providers[@i].ProviderName" value="@Model.Providers[i].ProviderName" />
            <input type="hidden" name="Providers[@i].ProviderId" value="@Model.Providers[i].ProviderId" />
        }
        <input type="submit" name="accept" value="Применить" />
        <input type="submit" name="cancel" value="Отменить" />
    </p>

    <br />
    <br />
    <div class="orderhead">
        DocNumber | DocDate | Sender | Reciever | DocSum
    </div>
    @for (int i = 0; i < Model.Orders.Count; i++)
    {
        if (((i + 1) % 2) == 0)
        {
            <a href="/Home/GetOrder/@Model.Orders[i].DocId">
                <div class="second">
                    @Model.Orders[i].DocNumber | @Model.Orders[i].DocDate | @Model.Orders[i].Sender | @Model.Orders[i].Reciever | @Model.Orders[i].DocSum
                </div>
            </a><input type="hidden" name="Orders[@i].DocNumber" value="@Model.Orders[i].DocNumber" /><input type="hidden" name="Orders[@i].DocDate" value="@Model.Orders[i].DocDate" /><input type="hidden" name="Orders[@i].Sender" value="@Model.Orders[i].Sender" /><input type="hidden" name="Orders[@i].Reciever" value="@Model.Orders[i].Reciever" /><input type="hidden" name="Orders[@i].DocSum" value="@Model.Orders[i].DocSum" /><input type="hidden" name="Orders[@i].SenderId" value="@Model.Orders[i].SenderId" />
        }
        else
        {
            <a href="/Home/GetOrder/@Model.Orders[i].DocId">
                <div class="first">
                    @Model.Orders[i].DocNumber | @Model.Orders[i].DocDate | @Model.Orders[i].Sender | @Model.Orders[i].Reciever | @Model.Orders[i].DocSum
                </div>
            </a><input type="hidden" name="Orders[@i].DocNumber" value="@Model.Orders[i].DocNumber" /><input type="hidden" name="Orders[@i].DocDate" value="@Model.Orders[i].DocDate" /><input type="hidden" name="Orders[@i].Sender" value="@Model.Orders[i].Sender" /><input type="hidden" name="Orders[@i].Reciever" value="@Model.Orders[i].Reciever" /><input type="hidden" name="Orders[@i].DocSum" value="@Model.Orders[i].DocSum" /><input type="hidden" name="Orders[@i].SenderId" value="@Model.Orders[i].SenderId" />
        }
    }

</form>
<form>

</form>
<br />
<br />
<a href="/Home/CreateOrder"><p>Создать новый</p></a>
